<div class="container">
  <div class="row justify-content-center mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 align-items-center">
    <div class="col-md-7 col-lg-6 pt-3 text-center text-md-right">

      <span class="speech-bubble">Hello!</span>

      <h1 class="text-primary">I'm Jared Helgeson</h1>

      <p>I am a frontend developer specializing in modern Javascript libraries and frameworks with 10+ years of
        experience.</p>

      <div class="social mt-3 mb-3">
        <a href="assets/resume.docx" class="btn btn-primary mr-2"><small><span class="fas fa-download"></span> Download
            my
            resume</small></a>
        <a href="https://github.com/jh-code" target="_blank" title="View my Github"><span
            class="socicon-github"></span></a>
        <a href="https://www.linkedin.com/in/wphax" target="_blank" title="View my LinkedIn"><span
            class="socicon-linkedin"></span></a>
      </div>
    </div>
    <img class="col-7 col-md-5 col-lg-6" src="assets/digital-1985681_640.jpg">
  </div>

  <div class="row mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 text-center justify-content-center">
    <h3 class="col-10 col-md-8 col-lg-6">"Always code as if the guy who ends up maintaining your code will be a violent
      psychopath who knows where you live." -Martin Golding</h3>
  </div>

  <div class="row mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 top-skills text-center no-gutters justify-content-center">
    <h2 class="col-12 mb-4">Top Skills</h2>

    <div class="card mb-2 col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <img class="card-img-top" src="https://pluralsight.imgix.net/paths/path-icons/html5-7ac65c8ec0.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HTML5</h5>
        <p class="card-text mb-0">
          <span><strong>Expert 258</strong></span><br>
          <span><small>97th percentile</small></span>
        </p>
        <a href="https://app.pluralsight.com/profile/jhelgeson" class="underline" title="View my Pluralsight profile"
          target="_blank"><small>Verified
            2/17/2019 <i class="fas fa-external-link-alt"></i></small></a>
      </div>
    </div>

    <div class="card mb-2 col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <img class="card-img-top" src="https://pluralsight.imgix.net/paths/path-icons/css-c9b214f0d7.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">CSS3</h5>
        <p class="card-text mb-0">
          <span><strong>Expert 251</strong></span><br>
          <span><small>96th percentile</small></span>
        </p>
        <a href="https://app.pluralsight.com/profile/jhelgeson" class="underline" title="View my Pluralsight profile"
          target="_blank"><small>Verified
            2/19/2019 <i class="fas fa-external-link-alt"></i></small></a>
      </div>
    </div>

    <div class="card mb-2 col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <img class="card-img-top" src="https://pluralsight2.imgix.net/paths/images/angular-14a0f6532f.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text mb-0">
          <span><strong>Expert 221</strong></span><br>
          <span><small>89th percentile</small></span>
        </p>
        <a href="https://app.pluralsight.com/profile/jhelgeson" class="underline" title="View my Pluralsight profile"
          target="_blank"><small>Verified
            9/21/2018 <i class="fas fa-external-link-alt"></i></small></a>
      </div>
    </div>

    <div class="card mb-2 col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <img class="card-img-top" src="https://pluralsight.imgix.net/paths/path-icons/javascript-36f5949a45.png"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Javascript</h5>
        <p class="card-text mb-0">
          <span><strong>Expert 220</strong></span><br>
          <span><small>88th percentile</small></span>
        </p>
        <a href="https://app.pluralsight.com/profile/jhelgeson" class="underline" title="View my Pluralsight profile"
          target="_blank"><small>Verified
            1/23/2019 <i class="fas fa-external-link-alt"></i></small></a>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 justify-content-center justify-content-sm-start">
    <h2 class="col-12 text-center mb-4">Work Experience</h2>

    <div class="experience">
      <p class="date">2008-present &mdash; Remote</p>
      <p class="position">Freelance Frontend Developer</p>
      <p>I'm always open to freelance projects when I have the spare time or inbetween jobs! I use platforms like Upwork
        and Freelancer.com</p>
    </div>

    <div class="experience">
      <p class="date">2012-2014 &mdash; Remote</p>
      <p class="position">Lead Developer @ <a class="underline" href="https://vashonmedia.com" target="_blank">Vashon
          Media</a></p>
      <p>Created dozens of custom WordPress themes and plugins for a number of clients and internal projects.</p>
    </div>

    <div class="experience">
      <p class="date">2014-2016 &mdash; Remote</p>
      <p class="position">Lead Developer @ <a class="underline" href="https://www.lwdv.app" target="_blank">LWDV
          Platform</a></p>
      <p>Built a variety of websites and mobile applications using a variety of technologies for clients around the
        world.</p>
    </div>

    <div class="experience">
      <p class="date">2016-2018 &mdash; Madison, WI</p>
      <p class="position">Frontend Development Consultant @ <a class="underline" href="https://ensync.com"
          target="_blank">EnSync
          Energy Systems</a></p>
      <p>Worked with the backend team to build scalable, high performance applications with high volume real-time data
        streams.</p>
    </div>

    <div class="experience">
      <p class="date">2019-????</p>
      <p class="position">I am available for hire!</p>
      <p>I would love to replace this part with my next job. I'm currently looking for a remote position in a fun and
        ambitious company. My availability is full time, 40+ hours per week.</p>
    </div>
  </div>

  <div class="row mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 no-gutters portfolio text-center justify-content-center">
    <h2 class="col-12 mb-4">Recent Projects</h2>

    <a href="http://ths.tattoo" title="The Honorable Society" class="col-4 col-lg-2" target="_blank">
      <img src="assets/ths-tattoo.jpg" class="portfolio-item w-100 img-fluid">
    </a>

    <a href="https://bluechipcomputerandtech.com" title="BlueChip Computer &amp; Tech" class="col-4 col-lg-2"
      target="_blank">
      <img src="assets/bluechip.jpg" class="portfolio-item w-100 img-fluid">
    </a>

    <a href="https://crypto-prices.pro" title="Crypto Prices" class="col-4 col-lg-2" target="_blank">
      <img src="assets/crypto-prices.jpg" class="portfolio-item w-100 img-fluid">
    </a>

    <a href="https://onguardllc.com" title="On Guard, LLC" class="col-4 col-lg-2" target="_blank">
      <img src="assets/onguard.jpg" class="portfolio-item w-100 img-fluid">
    </a>

    <a class="col-4 col-lg-2" title="Coming Soon">
      <img src="assets/coming-soon.jpg" class="portfolio-item w-100 img-fluid">
    </a>

    <a class="col-4 col-lg-2" title="Coming Soon">
      <img src="assets/coming-soon.jpg" class="portfolio-item w-100 img-fluid">
    </a>
  </div>
</div>

<div class="row no-gutters mt-5 mb-4 mb-md-5 pt-md-4 pb-md-4 text-center justify-content-center">
  <div class="col-10 col-lg-8 pt-3 pb-3">
    <h3 class="m-0">Contact me: <a class="underline" href="mailto:jhelgeson.code@gmail.com">jhelgeson.code@gmail.com</a>
    </h3>
  </div>
</div>